@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 18px;
	font-weight: 300;
	background-image: url(/img/background.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}

header {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-weight: 300;
}

main {
	margin: 20px,20px,20px,30%; 
	background-image: url(/img/ricepaper_v3.png);
	opacity: 0.9;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2 {
	color: #505050;
	font-size: 150%
	margin: 0;
}

h3 {
	font-size: 125%;
}

a:visited {
	text-decoration: none;
	color: #0000AA; 
}

a:link {
	text-decoration: none;
	color: #0000AA;
}

a:hover {
	color: #0000EE;
}

input:focus {
	color: #0000EE;
}